* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.hero-section {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
}

#img-div {
  height: 100vh;
  width: 100%;
}

#image {
  background-image: url("https://i.ytimg.com/vi/YKoQDv2IIgQ/maxresdefault.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
}

.image-text {
  position: absolute;
  left: 15%;
  top: 30%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 2rem;
}

#title {
  font-size: 3rem;
  color: white;
}

#img-caption {
  font-size: 2rem;
  color: white;
}
